Library
/obj/Debug
/*.sln
/*.csproj
/*.userprefs
/.vs/ECS/v14/*.suo
/.vs/UnityVS.ECS/v14/*.suo
/.vs/ECS/v15/*.suo
Temp
Exe
UWP
/.vs/Svelto.ECS.Example/v14/.suo
/.vs/Svelto.ECS.Example/v15/.suo
/.vs/Svelto.ECS.Example/v15/Server/sqlite3/db.lock
/.vs/Svelto.ECS.Example/v15/Server/sqlite3/storage.ide
/Assets/WSATestCertificate.pfx
/UnityPackageManager/manifest.json
/Assets/ConsolePro
/Assets/Plugins/Editor/JetBrains
/.idea/.idea.Svelto.ECS.Example/.idea
/.idea/.idea.Svelto.ECS.Example
/Svelto.ECS.Vanilla/.idea/.idea.SveltoVanilla/.idea
/Svelto.ECS.Vanilla/.idea/.idea.SveltoVanilla
/Svelto.ECS.Vanilla/.vs/SveltoVanilla/v15
/Svelto.ECS.Vanilla/SveltoVanilla/bin/Debug/netcoreapp2.0
/Svelto.ECS.Vanilla/SveltoVanilla/bin/Release/netcoreapp2.0
/Svelto.ECS.Vanilla/SveltoVanilla/obj/Debug/netcoreapp2.0
/Svelto.ECS.Vanilla/SveltoVanilla/obj/Release/netcoreapp2.0
/Svelto.ECS.Vanilla/SveltoVanilla/obj
/Svelto.ECS.Vanilla/*.user
/Svelto.ECS.Vanilla/SveltoVanilla/*.user
/Svelto.ECS.Vanilla/dotnet.psess
/Svelto.ECS.Vanilla/dotnet1.psess
/Svelto.ECS.Vanilla/dotnet171213(1).vsp
/Svelto.ECS.Vanilla/dotnet171213.vsp
/Svelto.ECS.Vanilla/dotnet171213.vspx
/Svelto.ECS.Vanilla/dotnet2.psess
/Executable
/obj
