Library
/obj/Debug
/*.sln
/*.csproj
/*.userprefs
/.vs/ECS/v14/*.suo
/.vs/UnityVS.ECS/v14/*.suo
/.vs/ECS/v15/*.suo
Temp
Exe
UWP
*.meta
/.vs/Svelto.ECS.Example/v14/.suo
/.vs/Svelto.ECS.Example/v15/.suo
/.vs/Svelto.ECS.Example/v15/Server/sqlite3/db.lock
/.vs/Svelto.ECS.Example/v15/Server/sqlite3/storage.ide
/Assets/WSATestCertificate.pfx
/UnityPackageManager/manifest.json
